.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    padding: 10px;
}

.logo {
    max-width: 150px;
}

.nav-itmes {
    padding: 0 20px;
}

.nav-itmes > ul {
    font-size: 18px;
    display: flex;
}

.nav-itmes > ul > li {
    padding: 10px;
    margin: 10px;
    list-style-type: none;
}

.res-container {
    display: flex;
    flex-wrap: wrap;
}

.res-card {
    border: 1px solid black;
    background-color: #f0f0f0;
    width: 200px;
    padding: 5px;
    margin: 5px;
}

.res-card:hover {
    box-shadow:  0 0 0 3px black;
    cursor: pointer;
}

.filter-btn {
    margin: 10px;
}

.res-logo {
    width: 100%;
}
